<section class="carousel-info bg-white py-8 md:py-12 lg:py-24">
  <article class="mx-auto max-w-[1542px] px-4 sm:px-6 md:px-8">
    <header class="mb-8 space-y-4 lg:mb-12">
      <h2 class="text-3xl/[32px] font-bold md:text-5xl/[58px]">
        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.
      </h2>
      <p class="text-base/6 font-normal text-neutral-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
        Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla,
        mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
        tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non
        suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus
        ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales.
        Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In
        iaculis arcu eros, eget tempus orci facilisis id.
      </p>
    </header>
  </article>

  @if (items.length > 0) {
    <div
      class="mx-auto overflow-x-auto max-w-[1542px] px-4 md:px-4 lg:px-6"
      role="region"
    >
      <ul
        #scroller
        class="flex snap-x snap-mandatory gap-6 md:gap-5 scroll-smooth pb-2"
        style="scrollbar-gutter: stable"
      >
        @for (item of items; track item.id) {
          <li
            data-slide
            class="snap-start shrink-0 basis-[calc(66.666%-12px)] md:basis-[calc(50%-12px)] lg:basis-[calc(25%-16px)] xl:basis-[calc(25%-18px)]"
          >
            <app-carousel-item [carouselItem]="item" />
          </li>
        }
      </ul>
    </div>
  }
</section>
